venv
.pytest_cache
.idea
front/migrations/__pycache__
schedules/__pycache__
front/__pycache__
schedules/migrations/__pycache__
config/__pycache__
__pycache__
.env*
db.sqlite3
data.json
datadir
staticfiles
.git
app.log
dump
celerybeat-schedule
