{% load i18n %}

{% block subject %}
Восстановление пароля от horaro
{% endblock subject %}



{% block html_body %}
<p>Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление
    пароля от учётной записи на сайте <a href="https://horaro.net">horaro</a></p>

<p>Пожалуйста, перейдите на эту страницу и введите новый пароль:</p>
<a href="https://horaro.net/{{ url }}">https://horaro.net/{{ url }}</a>
<p>Ваше имя пользователя (на случай, если вы его забыли): <b>{{ user.get_username }}</b></p>

<b>Если вы не отправляли запрос на восстановление, то просим проигнорировать данное сообщение!</b>
<p>Спасибо, что используете наше приложение!</p>

<p><i>С уважением команда horaro.</i></p>
{% endblock html_body %}